<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Choose your Exact Username:</h1>
    <table>
        <% for(var i=0; i < data.items.length; i++) { %>
           <tr>
             <td><a href="/user/<%= data.items[i].login %>"><%= data.items[i].login %></a></td>
           </tr>
        <% } %>
      </table>
</body>
</html>